.heading{
   padding-top: 5rem;
   text-align: center;
   font-size: 50px;
   font-weight: bolder;
   text-decoration: none;
}
.project{
    width: 30%;
    height: 30vh;
    display: flex;
    text-decoration: none;
}
.title{
    text-align: center;
    text-decoration: none;
    margin-top: 10px;
    
}

.img{
    width: 15rem;
}

.flex{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-decoration: none;
    justify-content: space-around;

}
.border1{
    width: 15rem;
    padding: 40px;
    border: 5px solid gray;
    border-radius: 20px;
    height: 19rem;
}

.link{
    text-decoration: none;
}
.project-div{
    height: 100vh;
}

@media screen and (max-width:480px){
    .border1{
        width: 10rem;
        height: 15rem;
        margin: 10px;
    }

    .img{
        width: 10rem;
    }

    .heading{
        font-size: 2rem;
    }

    .title{
        font-size: 1.2rem
    }
    .project-div{
        height: 100%;
    }
}